<html>
    <head>
        <title>Werewolf Online</title>
        <link href="/styles/game.css" rel="stylesheet" type="text/css"/>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <script src="/scripts/game.js"></script>
        <div id="container">
            <div id="sidepanel">
                <div id="roles">

                </div>
                <div id="chat">
                    <div id="output"></div>
                </div>
            </div>
            <div id="gamepanel">
                
            </div>
        </div>
    </body>
</html>