<html>
    <head>
        <title>WWO Lobby</title>
        <link href="/styles/lobby.css" rel="stylesheet" type="text/css"/>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <script src="/scripts/lobby.js"></script>
        <div id="container">
            <div id="chat">
                    <h2>Chat</h2>
                    <div id="chat-window">
                        <div id="output"></div>
                    </div>
                <input id="message" onkeypress="enterChatSend(event)" type="text" placeholder="Wiadomość"/>
                <button onclick="chatSend()" id="send">Wyślij</button>
             </div>
            <div id="lobby">
                <div id="header">
                </div>
                <div id="connected"></div>
                <div id="config">
                    <button id="start" onclick="start()">Start</button>
                </div>
            </div>
            <div id="options">
                <form name="optionsForm" action="POST">
                    <legend>Opcje</legend>
                    <select name="players">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </form>
            </div>        
        </div>
    </body>
</html>