<html>
    <head>
        <title>WWO Lobby</title>
        <link href="/styles/lobby.css" rel="stylesheet" type="text/css"/>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <script src="/scripts/lobby.js"></script>
        <div id="container">
            <div id="chat">
                    <h2>Chat</h2>
                    <div id="chat-window">
                        <div id="output"></div>
                    </div>
                <input id="message" onkeypress="enterChatSend(event)" type="text" placeholder="Wiadomość"/>
                <button onclick="chatSend()" id="send">Wyślij</button>
             </div>
            <div id="lobby">
                <div id="header">
                </div>
                <div id="connected"></div>
                <div id="config">
                    <button id="start" onclick="start()">Start</button>
                </div>
            </div>
            <div id="options">
                    <h2>Opcje</h2>
                    <label>Liczba graczy</label>
                    <select id="maxPlayers">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <br>
                    <label>Karty w grze: </label>

                    <p>
                        Mimik<input type="checkbox" value="mimic" class="card"/> 
                        Doppler<input type="checkbox" value="doppler" class="card"/> 
                        Strażnik<input type="checkbox" value="sentinel" class="card"/>
                    </p>
                    <p>
                        Wilkołak<input type="checkbox" value="werewolf" class="card monster"/> 
                        Golem<input type="checkbox" value="golem" class="card monster"/> 
                        Lewiatan<input type="checkbox" value="leviathan" class="card monster"/>
                    </p>
                    <p>
                        Wampir<input type="checkbox" value="vampire" class="card monster"/> 
                        Koszmar<input type="checkbox" value="nightmare" class="card monster"/> 
                        Sługus<input type="checkbox" value="minion" class="card"/>
                    </p>
                    <p>
                        Wyrocznia<input type="checkbox" value="oracle" class="card"/> 
                        Okultysta<input type="checkbox" value="ocultist" class="card"/> 
                        Złodziej<input type="checkbox" value="thief" class="card"/>
                    </p>
                    <p>
                        Wiedźma<input type="checkbox" value="witch" class="card"/> 
                        Łobuz<input type="checkbox" value="troublemaker" class="card"/> 
                        Klaun<input type="checkbox" value="clown" class="card"/> 
                    </p>
                    <p>
                        Mistyk<input type="checkbox" value="mistic" class="card"/> 
                        Pijak<input type="checkbox" value="drunk" class="card"/> 
                        Lunatyk<input type="checkbox" value="lunatic" class="card"/>
                    </p>
                    <p>
                        Sędzia<input type="checkbox" value="judge" class="card"/>
                        Grabarz<input type="checkbox" value="undertaker" class="card"/> 
                        Łowca<input type="checkbox" value="hunter" class="card"/>
                    </p>
                    <p>
                        Przeklęty<input type="checkbox" value="cursed" class="card"/>
                        Staruch<input type="checkbox" value="oldman" class="card"/>
                    </p>
                    <button onclick="sendOptions()">Zapisz</button>
            </div>        
        </div>
    </body>
</html>