<html>
    <head>
        <title>WWO Lobby</title>
        <link href="/styles/lobby.css" rel="stylesheet" type="text/css"/>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <script src="/scripts/lobby.js"></script>
        <div id="container">
            <div id="lobby">
                <div id="header">
                </div>
                <div id="connected"></div>
                <div id="config">
                    <button id="start" onclick="buttonClicked()">Start</button>
                </div>
            </div>
        </div>
    </body>
</html>